.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(234, 210, 24);
}

.contactBtn {
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  color: rgb(237, 27, 27);
}
.contactBtn:focus,
.contactBtn:hover {
  color: rgb(65, 244, 16);
  background-color: rgb(237, 27, 27);
}
.contactName {
  font-size: 25px;
  font-weight: 700;
  color: rgb(9, 17, 254);
}
.contacNumber {
  font-size: 30px;
  font-weight: 500;
  color: green;
}
